{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Mega-Sena</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header class="cabecalho">
        <a href='sorteio'><h1><i class="fa-solid fa-clover"></i> Sorteador</h1></a>
    </header>

    <section class="info">
        <img src="{% static 'images/megasena.png' %}" alt="Mega-Sena">
        <p>A Mega-Sena é uma modalidade de loteria brasileira na qual os participantes escolhem de seis a vinte números de um total de 60 disponíveis, e para ganhar o prêmio principal, é necessário acertar os seis números sorteados. Além do prêmio principal, a Mega-Sena também oferece premiações para quem acerta cinco e quatro dos números sorteados.</p>
    </section>

    <form class="formulario" method="post" >
        <p>Preencha os campos abaixo para montar o seu bilhete</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button id="botao-megasena" type="submit">SORTEAR</button>
    </form>

    <ul class="bilhete">
        {% for jogo in bilhete %}
            <div class="jogo-bilhete" id="jogo-bilhete-megasena">
            {% for numero in jogo %}
                <li class="numero" id="numero-megasena">{{ numero }}</li>
            {% endfor %}
            </div>
        {% endfor %}
    </ul>

    <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
</body>
</html>