{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quina</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header class="cabecalho">
        <a href='sorteio'><h1><i class="fa-solid fa-clover"></i> Sorteador</h1></a>
    </header>

    <form class="formulario" method="post" >
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">SORTEAR</button>
    </form>

    <ul class="bilhete">
        {% for jogo in bilhete %}
            <div class="jogo">
            {% for numero in jogo %}
                <li class="numero">{{ numero }}</li>
            {% endfor %}
            </div>
            <p>-------</p>
        {% endfor %}
    </ul>

    <script src="https://kit.fontawesome.com/abceda3d36.js" crossorigin="anonymous"></script>
</body>
</html>