* {
    margin: 0; 
    padding: 0;
    font-family: "Outfit", cursive;
}

header {
    background-color: #0065b7;
    box-shadow: 0px 3px 10px #007add;
    padding: 35px 30px;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.selecao-de-jogos {
    display: flex;
    padding: 50px;
}

.jogos h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.jogos ul {
    display: flex;
    list-style: none;
}

.jogos li {
    display: inline-block;
}

.lista-de-jogos {
    margin-left: 15%;
    margin-right: 10%;
}

.lista-de-jogos .jogo img {
    width: 70%;
}
.lista-de-jogos a{
    text-decoration: none;
}

.cabecalho a {
    text-decoration: none;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px; 
    margin: 0 auto; 
    border: 1px solid #ccc; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
}

.formulario p {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.formulario button {
    margin-top: 10px;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#botao-lotofacil {
    background-color: #930089;
}

#botao-megasena {
    background-color: #209869;
}

#botao-quina {
    background-color: #260085;
}

.info {
    display: flex;
    align-items: center;
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
}

.info img {
    width: 100px; 
    margin-right: 20px; 
}

.info p {
    flex: 1; 
    text-align: justify;
}

.bilhete {
    list-style-type: none;
    padding: 0;
}

.jogo-bilhete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

#jogo-bilhete-lotofacil {
    border: 2px solid #c87fc3;
}

#jogo-bilhete-megasena{
    border: 2px solid #8fcbb3;
}

#jogo-bilhete-quina {
    border: 2px solid #927fc1;
}

.numero {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
    color: #fff;
}

#numero-lotofacil {
    border: 2px solid #930089;
    background-color: #930089;
}

#numero-megasena {
    border: 2px solid #209869;
    background-color: #209869;
}

#numero-quina {
    border: 2px solid #260085;
    background-color: #260085;
}


