* {
    margin: 0; 
    padding: 0;
    font-family: "Outfit", cursive;
}

header {
    background-color: #0065b7;
    box-shadow: 0px 3px 10px #007add;
    padding: 35px 30px;
    margin-bottom: 20px;
}

header h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.selecao-de-jogos {
    display: flex;
    padding: 50px;
}

.jogos h1 {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.jogos ul {
    display: flex;
    list-style: none;
}

.jogos li {
    display: inline-block;
}

.lista-de-jogos {
    margin-left: 15%;
    margin-right: 10%;
}

.lista-de-jogos .jogo img {
    width: 70%;
}
.lista-de-jogos a{
    text-decoration: none;
}

